/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* regole generali */
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F6F8F9;
}

.top{
  background-color: white;
}

/* barra superiore */
header{
  padding: 10px 20px;
  width: 100vw;
}

header img{
  vertical-align: middle;
}

header strong{
  font-size: 40px;
  font-weight: 800;
  vertical-align: middle;
}

/* corpo principale */
main{
  max-width: 1200px;
  width: 75%;
  margin: 40px auto;
  border-radius: 2%;
}

/* barra azioni */
.actions{
  border-bottom: 3px solid #F6F8F9;
  padding: 15px 50px 10px;
}

.actions button{
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.actions button:hover{
  cursor: pointer;
}

.actions button.selected{
  background-color: #47ADF1;
  color: white;
}

.actions button.unselected{
  background-color: white;
  color: gray;
  border: 1px solid grey;
}

/* to do list */
.container{
  padding: 30px 50px 10px;
}

ul{
  list-style: none;
}

.container .section{
  padding-bottom: 20px;
}

.container .section li{
  line-height: 30px;
}

.container .section span{
  font-size: 18px;
  font-weight: 700;
}

.container .section span::before{
  content: '\25BE';
  margin-right: 5px;
}

.done::before{
  content: '\2713';
  color: green;
  border: 1px solid green;
  border-radius: 50%;
  padding: 2px;  
  margin-right: 10px;
}

.undone::before{
  content: '\2717 ';
  color: red;
  border: 1px solid red;
  border-radius: 50%;
  padding: 2px;
  margin-right: 10px;
}

.editorial::after{
  content: 'Editorial';
  font-size: 10px;
  background-color: #45ABEA;
  padding: 5px;
  color: whitesmoke;
  border-radius: 10px;
  margin-left: 10px;
}

.q-one::after{
  content: 'Q-1 Goals';
  font-size: 10px;
  background-color: #9C72E4;
  padding: 5px;
  color: whitesmoke;
  border-radius: 10px;
  margin-left: 10px;
}

.recruiting::after{
  content: 'Recruiting';
  font-size: 10px;
  background-color: #64C0A9;
  padding: 5px;
  color: whitesmoke;
  border-radius: 10px;
  margin-left: 10px;
}

.mobile::after{
  content: 'Mobile';
  font-size: 10px;
  background-color: #F29E33;
  padding: 5px;
  color: whitesmoke;
  border-radius: 10px;
  margin-left: 10px;
}

.web::after{
  content: 'Website';
  font-size: 10px;
  background-color: #D863A1;
  padding: 5px;
  color: whitesmoke;
  border-radius: 10px;
  margin-left: 10px;
}

.sales::after{
  content: 'Sales';
  font-size: 10px;
  background-color: #B0C926;
  padding: 5px;
  color: whitesmoke;
  border-radius: 10px;
  margin-left: 10px;
}
