/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* regole generali */
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F6F8F9;
}

.top{
  background-color: white;
}

/* barra superiore */
header{
  padding: 10px 20px;
  width: 100vw;
}

header img{
  vertical-align: middle;
}

header strong{
  font-size: 40px;
  font-weight: 800;
  vertical-align: middle;
}

/* corpo principale */
main{
  max-width: 1200px;
  width: 75%;
  margin: 40px auto;
  border-radius: 2%;
}

/* barra di navigazione */
.actions{
  border-bottom: 2px solid #F6F8F9;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 50px;
}
.actions ul{
  list-style: none;
}

.actions ul li{
  display: inline-block;
  border-radius: 5%;
  padding: 5px 10px;
}

.selected{
  background-color: #47ADF1;
  color: white;
}

.unselected{
  color: gray;
  border: 1px solid grey;
}

/* to do list */
.container{
  padding-left: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.container section{
  padding-bottom: 20px;
}

.container section h4, .container section span{
  line-height: 30px;
}

.check{
  display: inline-block;
  margin-right: 10px;
}

.done::before{
  content: '\2713';
  color: green;
  border: 1px solid green;
  border-radius: 50%;
  padding: 2px;  
}

.undone::before{
  content: '\2717 ';
  color: red;
  border: 1px solid red;
  border-radius: 50%;
  padding: 2px;
}

.label{
  display: inline-block;
  margin-left: 5px;
}

.editorial .label::after{
  content: 'Editorial';
  font-size: 10px;
  background-color: #45ABEA;
  padding: 5px;
  color: whitesmoke;
  border-radius: 20%;
}

.q-one .label::after{
  content: 'Q-1 Goals';
  font-size: 10px;
  background-color: #9C72E4;
  padding: 5px;
  color: whitesmoke;
  border-radius: 20%;
}

.recruiting .label::after{
  content: 'Recruiting';
  font-size: 10px;
  background-color: #64C0A9;
  padding: 5px;
  color: whitesmoke;
  border-radius: 20%;
}

.mobile .label::after{
  content: 'Mobile';
  font-size: 10px;
  background-color: #F29E33;
  padding: 5px;
  color: whitesmoke;
  border-radius: 20%;
}

.web .label::after{
  content: 'Website';
  font-size: 10px;
  background-color: #D863A1;
  padding: 5px;
  color: whitesmoke;
  border-radius: 20%;
}

.sales .label::after{
  content: 'Sales';
  font-size: 10px;
  background-color: #B0C926;
  padding: 5px;
  color: whitesmoke;
  border-radius: 20%;
}
